@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --primary-cyan: hsl(172, 67%, 45%);
  --neutral-dark-cyan: hsl(183, 100%, 15%);
  --neutral-dark-grayish-01: hsl(186, 14%, 43%);
  --neutral-dark-grayish-02: hsl(184, 14%, 56%);
  --neutral-light-grayish-01: hsl(185, 41%, 84%);
  --neutral-light-grayish-02: hsl(189, 41%, 97%);
  --neutral-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 3rem;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-color: var(--neutral-light-grayish-01);
}

header {
  margin-block: 2rem;
}

footer {
  position: absolute;
  bottom: 0;
}

main {
  width: min(100%, 800px);
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: var(--neutral-white);
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: -15px 20px 20px hsla(184, 14%, 56%, 0.1),
    15px 20px 20px hsla(184, 14%, 56%, 0.1);
}
@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 5rem;
  }
}

main > section {
  flex-basis: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-block: 1rem;
}

.form-control {
  position: relative;
}

.success input[type="number"],
input.success {
  border: 2px solid rgb(46, 224, 46) !important;
}
.error input[type="number"],
input.error {
  border: 2px solid red !important;
}
.error small {
  display: inline-block;
  position: absolute;
  color: red;
}
form > .form-control:nth-child(2) {
  margin-block: 2rem;
}

.label__header {
  color: var(--neutral-dark-grayish-01);
  font-weight: 700;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.wrapper__options {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1rem;
}

input[type="radio"],
small {
  display: none;
}

input[type="radio"] + label {
  text-align: center;
  background-color: var(--neutral-dark-cyan);
  color: var(--neutral-white);
  font-weight: 700;
  font-size: 1.5rem;
  padding-block: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: var(--primary-cyan);
  color: var(--neutral-dark-cyan);
}
input[type="number"] {
  padding-inline: 1rem;
}
input#custom {
  font-family: inherit;
  color: var(--neutral-dark-cyan);
  background-color: var(--neutral-light-grayish-02);
  border: 0;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: right;
}
input:focus {
  outline: none;
}
input::placeholder {
  text-align: center;
  color: var(--neutral-dark-grayish-02);
}
input#custom::placeholder {
  font-size: 1rem;
}
.input-field::placeholder {
  text-align: right;
}

.input-field {
  width: 100%;
  font-family: inherit;
  font-weight: 700;
  color: var(--neutral-dark-cyan);
  font-size: 24px;
  line-height: 3rem;
  text-align: right;
  background-color: var(--neutral-light-grayish-02);
  padding-inline: 1rem;
  border: 0;
  border-radius: 0.5rem;
  display: block;
}
.icon {
  position: absolute;
  left: 12px;
  bottom: 15px;
  color: var(--neutral-dark-grayish-02);
}

section:last-of-type {
  background-color: var(--neutral-dark-cyan);
  border-radius: 1rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "label value"
    "unit value";
  grid-template-columns: 1fr 1fr;
}
.label {
  grid-area: label;
  align-self: flex-end;
  color: var(--neutral-light-grayish-02);
  font-weight: 700;
  opacity: 0.8;
}
.unit {
  grid-area: unit;
  color: var(--neutral-dark-grayish-02);
  font-size: 0.7rem;
}
.value {
  grid-area: value;
  align-self: center;
  justify-self: end;
  color: var(--primary-cyan);
  font-size: 2.8rem;
  font-weight: 700;
}

button {
  background-color: var(--primary-cyan);
  color: var(--neutral-dark-cyan);
  padding-block: 0.75rem;
  border: 0;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
button:hover {
  background-color: var(--neutral-light-grayish-01);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}
